@font-face {
    font-family: DS-Digib;
    src: url(../fonts/ds_digital/DS-DIGIB.TTF)
  }
body{
    background-color: black;
    justify-content: center;
}
.banner {
    color: aliceblue;
    width: 100%;
    height: 30%;
    background-color: #5E17EB;
    display: flex;
    justify-content: center;
    margin: -10;
}
.banner img{
    size: 100%;
}

.bomb{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background: url("../images/bomb.png") no-repeat;
    background-size: 900px;
    background-position: 300px;
}

.timer{
    color:red;
    background-color: black;
    margin-top: 135;
    margin-left: -95;
    font-size: 60;
    /* font-family: DS-Digib; */
    width: 20%;
    text-align: center;
    border-radius: 10px;
}
.passwd{
    display: flex;
    width: 100%;
    justify-content: center;
}
.passwd input{
    background-color: aliceblue;
    font-size: 60;
    margin:0 10px;
    padding: 10 20;
    font-family: DS-Digib;
    width: 100;
    text-align: center;
}