@font-face {
    font-family: DS-Digib;
    src: url(../fonts/ds_digital/DS-DIGIB.TTF)
  }
body{
    background-color: black;
    justify-content: center;
}
.banner {
    color: aliceblue;
    width: 100%;
    height: 30%;
    background-color: #5E17EB;
    display: flex;
    justify-content: center;
}
.banner img{
    size: 100%;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

.bomb{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10;

    background: url("../images/bomb.png") no-repeat;
    background-size: 900px;
    /* background-size:contain; */
    background-position:center;
}

.timer{
    color:red;
    background-color: black;
    font-size: 60;
    margin-left: -250;
    margin-top: 85;
    /* font-family: DS-Digib; */
    width: 19%;
    text-align: center;
    border-radius: 10px;
}
.passwd{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.passwd input{
    background-color: aliceblue;
    font-size: 60;
    margin:0 10px;
    padding: 10 20;
    font-family: DS-Digib;
    width: 100;
    text-align: center;
}

.passwd button{
    background-color: green;
    font-size: 30;
    margin:0 10px;
    padding: 10 10;
    font-family: DS-Digib;
    width: 100;
    text-align: center;
}